<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.fofo.mapper.PostMapper">
	
	<insert id="create">
		insert into post(userId, postTitle, postContent, tags)
		values (#{userId}, #{postTitle}, #{postContent}, #{tags})
	</insert>
	
	<select id="read" resultType="org.fofo.domain.PostVO">
		select postId, userId, hitNum, postDate, postTitle, postContent
		from post
		where postId=#{postId} 
	</select>
	
	<update id="update">
		update post set postTitle=#{postTitle}, postContent=#{postContent}
		where postId=#{postId}
		
	</update>
	
	<delete id="delete">
		delete from post
		where postId=#{postId}
	</delete>
	
	<select id="listAll" resultType="org.fofo.domain.PostVO">
		<![CDATA[
			select postId, postTitle, userId, postDate, hitNum
			from post
			where postId > 0
			order by postId desc, postDate desc
		]]>
	</select>
	
	<select id="listPage" resultType="PostVO">
		<![CDATA[
			select postId, postTitle, userId, postDate, hitNum
			from post
			where postId > 0
			order by postId desc, postDate desc
			limit #{page}, 10
		]]>
	</select>
	
</mapper>